<div class="header" ng-controller="dashboardHeaderController" ng-model-options="{ debounce: 200 }" ng-init="loadHome()">
  <div ng-show="access" class="headertab ng-scope" style="
      border-bottom: #eee;
      border-bottom-width: thin;
      border-bottom-style: inset;">
    <div ng-show="!loading" style="position: relative;">
      <div class="loginheaderlogodiv"><div style="display:inline-block;float:left" ng-click="gohome()"><img src="{{domainURL}}assets/img/unnamed.png" class="headerlogoimg"><sup><font style="
    font-size: 10px;
    margin-left: 5px;
    color:#72bb53;">BETA</font></sup>
  </div>
        <div ng-show="page" class="cmpnamediv" style="    background-color: white !important;left:-10px !important;"><span data-placement="bottom" title="Stockarea" style="font-size:medium;" onmouseenter="$(this).tooltip('show')">{{StockareaName}}</span><span data-placement="bottom" title="Product Name" onmouseenter="$(this).tooltip('show')" style="font-size:medium;"
            ng-show="productName">{{" - "+ productName}}</span></div>
      </div>
      <div class="avatarleftdiv">
        <div style="float:left;/* margin-top: -7px; */">
          <div class="dropdown" style="bottom:7px;width:33px;">
            <div data-toggle="dropdown" class="dropdown-toggle">
              <i style="font-size: 26px;color:grey" class="fa fa-question" aria-hidden="true"></i>
            </div>
            <div class="dropdown-menu" style="
      z-index: 22;
      margin-left:-100px;
      margin-top:10px;
      position: absolute;
background-color: #f9f9f9;
min-width: 300px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  ">
              <a style="padding:10px;cursor: pointer;color:#4c81bf;text-decoration:none;font-size:20px;">help</a><br><br>
              <a style="padding:10px;cursor: pointer;color:#8e8b8b;text-decoration:none;">Sometimes you just need a little help.</a><br><br>
              <a style="padding:10px;cursor: pointer;color:#8e8b8b;text-decoration:none;"ng-click="messagetohelp()">message us at help@virtualgodown</a><br><br>
              <a style="padding:10px;cursor: pointer;color:#4c81bf;text-decoration:none;"></a><br><br>
            </div>
          </div>
          <div class="dropdown" style="bottom:7px;width:55px;">
          <div data-toggle="dropdown" class="animated notification show-count dropdown-toggle" data-count="{{value}}" aria-expanded="true" value="value" style="
              width: 40px;
              height: 36px;
              margin-top: 10px;
"></div>
<div ng-show="notification.length>0" class="dropdown-menu" id="notification" style="
z-index: 22;
width:634%
">

  <div ng-show="notification.length>0" ng-repeat=" x in notification" style="padding:10px;cursor:pointer"  ng-click="updatenotification(x._id,x.receiptentOrganisationId.stockareaId,x.receiptentOrganisationId.productId,x.type)">
    <div style="width:10%;height:30px;display:inline-block;">
      <div ng-if="x.img" style="height:100%;width:100%"></div>
      <i class="fa fa-sitemap" ng-if="!x.img" aria-hidden="true" style="height:100%;width:100%"></i>
    </div>
    <div style="width:80%;height:30px;word-wrap: break-word;display:inline-block">
      {{x.message}}
    </div>
</div>
<div ng-show="notification.length == 0"style="padding:10px;cursor:pointer">

  <center style="width:80%;height:30px;word-wrap: break-word;display:inline-block;padding:20px;">
<font> No notifications to show</font>
  </center>
</div>
</div>
</div>
          <div class="dropdown" style="bottom:7px;width:50px;">
            <div data-toggle="dropdown" class="dropdown-toggle" style="width:50px">
              <i style="font-size: 26px;color:grey" class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="dropdown-menu" style="
      z-index: 22;
      margin-left:-100px;
      position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  ">
              <div style="cursor: pointer;width:100%;height:40px;color:#8e8b8b;text-decoration:none;" class="optionhover" ng-click="settings()"><font style="margin-left: 10px;vertical-align: -webkit-baseline-middle;">Settings</font></div>
              <div style="cursor: pointer;width:100%;height:40px;color:#8e8b8b;text-decoration:none;" class="optionhover" ng-click="faq()"><font style="margin-left: 10px;vertical-align: -webkit-baseline-middle;">FAQ</font></div>
              <div style="cursor: pointer;width:100%;height:40px;color:#8e8b8b;text-decoration:none;" class="optionhover" ng-click="logout()"><font style="margin-left: 10px;vertical-align: -webkit-baseline-middle;">Logout</font></div>
            </div>
          </div>
        </div>
        <div style="
  float:right;height: -webkit-fill-available;">
          <div class="profilepicdiv" class="floatleft"><img src={{profilePic}} class="avatarimg"></div>
          <div class="dropdowndivleft">
            <div class="dropdown">
              <div class="dropbtn" style="margin-top:-10px;" ng-class="{namemarginclass :orgstatus==201}">
                <font>{{fullName}}
                </font><br>
                    <font size="2" ng-hide="orgstatus==201">{{orgname}}</font>
                    <i ng-show="org.length>1" style="color:#4c81bf" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i ng-show="org.length<1" style="color:#eeeeee" class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
              <div class="dropdown-content" ng-show="org.length>1" style="width:200px;margin-right:10px;height:250px;overflow-y:hidden;overflow-x:hidden;">
                <input type="text" ng-model="test1" class="productlistsearchbarinput" style="width:190px !important;margin-left:5px;margin-top:5px;border:none;" placeholder="Search organisations" autocomplete="off">
                <div class="scrollbar" id="style-4" style="height:230px;width:200px;overflow-x:hidden;">

                  <a ng-repeat="x in org | filter : test1" style="cursor: pointer;" ng-hide="orgname==x.organisationId.organisationId" ng-click="changeorg(x.organisationId._id)">{{x.organisationId.organisationId}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background:#4c81bf;
      border-bottom: #eee;
      border-bottom-width: thin;
      border-bottom-style: inset;" ng-hide="access" class="headertab ng-scope">
    <div ng-show="!loading" style="position: relative;">
      <div class="loginheaderlogodiv"><a ui-sref="home"><img src="{{domainUrl}}assets/img/white.png" class="headerlogoimg"><font class="headerlogoimg" style="
      color: white;
  " size="5">VIRTUALGODOWN</font></a>

        <div ng-show="page" class="cmpnamediv" style="    background-color: white !important;
      left: 10px;"><span data-placement="bottom" title="Stockarea" onmouseenter="$(this).tooltip('show')" style="font-size:medium;">{{StockareaName}}</span><span data-placement="bottom" title="Product Name" onmouseenter="$(this).tooltip('show')" ng-show="productName"
            style="font-size:medium;">{{" - "+ productName}}</span></div>
      </div>
      <div style="margin-top8px;" class="avatarleftdiv">
        <button ng-sref="login" ng-click="login()" href="{{domainUrl}}login" style="
    position: relative;
    margin: 10px;
    /* height: 50px; */
    /* min-width: 100px; */
    padding: 5px;
    /* border-radius: 4px; */
  width:70px;
    border: 1px;
    color: #4c81bf;
    background-color:white ;
  ">Login</button> or
        <button ng-click="signup()" href="{{domainUrl}}signUp" ng-sref="signUp" style="
  position: relative;
  margin: 10px;
  /* height: 70px; */
  /* min-width: 100px; */
  padding: 5px;
  /* border-radius: 4px; */
  width:70px;
  border: 1px;
  color: white;
  background-color: #42b72a;
  ">Signup</button>
      </div>


    </div>
  </div>
</div>
<div id="page_content" class="ng-scope" ng-init="init()">
  <div id="page_content_inner">
    <div class="container marginTopAlign">
      <div class="row">


        <div>
          <h3>Create organisation</h3></div>
        <div style="
 width: 550px;
 ">
          <div>

            <form name="orgForm" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : orgForm.name.$invalid && !orgForm.name.$pristine }">
                <div style="font-weight: 600;">Organisation Name</div>
                <input type="text" autocomplete="off" ng-class="{borderred:organisationName==''}" name="name" class="form-control" ng-model="organisationName" required>
                <p ng-show="organisationName=='' || orgForm.name.$invalid && !orgForm.name.$pristine" class="help-block" style="color:#a94442">organisationName is required.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : orgForm.Id.$invalid && !orgForm.Id.$pristine }">
                <div style="font-weight: 600;">Organisation Id</div>
                <input type="text" autocomplete="off" name="Id"  disallow-spaces ng-change="checkorgname()" ng-class="{borderred:organisationId==''}" class="form-control" ng-model="organisationId" maxlength="16" required>
                <p ng-show="organisationId=='' || orgForm.Id.$invalid && !orgForm.Id.$pristine" class="help-block" style="color:#a94442">organisationId is required.</p>
                    <p ng-show="organisationId.length>15 " class="help-block" style="color:#a94442">Maximum length reached</p>
                <i class="fa fa-check" ng-show="state=='exist' && !organisationName==''" style="
                          color: #72bb53; float:right; position: relative;
                          top: -28px;
                          left: 209px;
                          " aria-hidden="true" style="margin-right: 10px;
                          "><font color="#72bb53">organisation name is available</font></i>
                <i class="fa fa-times" ng-show="state=='Not exist!'" style="
                          color: #a94442;  float:right; position: relative;
                          top: -28px;
                          left: 234px;
                          " aria-hidden="true" style="margin-right: 10px;
                          "><font color="#a94442">organisation name is already taken</font></i>
              </div>
              <center style="margin-top:10px">
                <button style=" margin: 10px;" disable-double-click ng-click="add()" class="addtostockareabutton">Save</button>
                <button style=" margin: 10px;" ng-click="cancel()" class="addtostockareabutton">cancel</button>
              </center>
            </form>

          </div>
        </div>
      </div>
    </div>
