<section>
      <div class="modal-header" style="border:none">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>

</div>
    <div style="padding:20px" class="row">
      <center><font size=3>You are about to remove {{productName}} from {{stockareaName}}. Are you sure?</font></center>
      <center><input class="addtostockareabutton" style="
        padding: 6px;
    " type="submit" value="confirm" ng-click="delete()" class="btn btn-block singinButton inputMaxWidth"></center>
            </div>
</section>
